@model Presupuestos

<h2>Nuevo Presupuesto</h2>

<form asp-controller="Presupuestos" asp-action="CrearPresupuesto" method="post">
    <section class="form-group">
        <label asp-for="NombreDestinatario"></label>
        <input asp-for="NombreDestinatario" class="form-control" required type="text">
    </section>

    <section class="form-group">
        <label asp-for="FechaCrecion"></label>
        <input asp-for="FechaCrecion" class="form-control" required type="Date">
    </section>

    <section class="form-group">
        <input type="submit" value="Crear" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </section>

</form>